# Fichiers Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Secrets et credentials
bot/serviceAccountKey.json
bot/serviceAccountKey_railway.txt
*.env
.env*

# Fichiers de log
*.log

# Fichiers temporaires
positions_temp.json
anomalies_temp.json
checklists_temp.json

# Node.js
node_modules/

# Autres fichiers sensibles
firebase/
*.bak
.DS_Store
.idea/
.vscode/
