# Fichiers sensibles Firebase
bot/serviceAccountKey.json
bot/firebase_credential.json
bot/firebase_credentials.json
bot/firebase_credential*.json
bot/serviceAccountKey*.json
bot/firebase_credential*.txt
bot/serviceAccountKey*.txt

# Autres secrets
bot/secret/
bot/*.log
bot/*.env